/* Common styles */
.nav-container-lg {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-desktop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
}
.ul-nav-lg {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.li-nav-lg {
  margin-right: 20px;
}

.links {
  text-decoration: none;
  color: inherit;
}

.nav-btn {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(176, 173, 170);
}

.logo-size {
  width: 100px;
}
@media screen and (max-width: 767px) {
  .logo-size {
    display: none;
  }
  .icons-p {
    display: inline;
  }
  .ul-nav-lg {
    width: 100%;
    justify-content: space-between;
  }
  .nav-container-lg {
    justify-content: flex-start;
    width: 100%;
    border-top: 1px solid black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .header-desktop {
    top: auto;
    bottom: 0;
  }
}
@media screen and (min-width: 767px) {
  .logo-size {
    display: block;
    width: 80px;
  }
  .icons-p {
    display: none;
  }
}
/* Desktop styles */

.nav-container-lg {
  width: 100%;

  background-color: #fff;
}

/* Mobile styles */

.nav-container-sm {
  width: 100%;
  padding: 10px 20px;
  background-color: #fff;
  position: fixed;
  bottom: 0;
}

/* Media queries */

.btn-header {
  background: none;
  outline: none;
  cursor: pointer;
  border: none;
  font-size: 12px;
  color: rgb(176, 173, 170);
}
.green-color {
  color: green;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-color: green;
}
