.nav-container-sm {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px solid rgb(47, 48, 48);
  border-bottom-width: 0px !important;
  height: 70px;
}

.logo-size {
  width: 100px;
  height: 50px;
}
.ul-nav-sm {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: white;
  padding-left: 0px;
  justify-content: space-around;
}

.li-nav-lg {
  list-style-type: none;
}
.links {
  text-decoration: none;
  color: rgb(136, 142, 141);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.links-Cliked {
  text-decoration: underline;
  text-underline-offset: 8px;
}
.nav-btn-1 {
  outline: none;
  border: none;
  cursor: pointer;
  color: rgb(165, 178, 177);
  background: none;
}

@media screen and (max-width: 767px) {
  .nav-container-sm {
    display: flex;
  }
}

@media screen and (min-width: 767px) {
  .nav-container-sm {
    display: none;
  }
}
.green-color {
  color: green;
}
